#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.span-error{
  color: red;
  font-style: bold;
}

.stats-section{
  display: flex;
  gap: 2rem;
}

.stats-card{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 2rem;
  border-radius: 2rem;
}