#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.task-card{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  border: solid;
  border-color: white;
  border-width: 4px;
  border-radius: 2rem;
}